title: Sổ tay Solution Architect
description: Tài liệu này viết cho dev muốn hiểu SA làm gì, hoặc dev đang chuyển sang làm SA.
theme: jekyll-theme-cayman
remote_theme: pages-themes/cayman@v0.2.0

plugins:
  - jekyll-remote-theme

markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM
  syntax_highlighter: rouge
